<!DOCTYPE HTML>

<html>

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="{% static 'js/main.js' %}"></script>

    <title>BOOKS Web</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <noscript>
        <link rel="stylesheet" href="{% static 'css/noscript.css' %}" />
    </noscript>

    <style>
        
        .my-btn, .delete-btn {
            float: right;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            text-decoration: none;
            background-color: #0080FF;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin-top: 10px;
        }

        .my-btn:hover {
            background-color: #239abb;
        }

        .book-warning {
            color: red;
            font-weight: bold;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th:nth-child(1) {
            width: 25%;
        }

        th:nth-child(2) {
            width: 15%;
        }

        th:nth-child(3) {
            width: 10%;
        }

        th:nth-child(4) {
            width: 40%;
        }

        th,
        td {
            padding: 8px;
            text-align: middle;
            border: 1px solid black;
        }

        th {
            background-color: #f2f2f2;
            color: black
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
            color: black
        }

        thead {
            background-color: #f2f2f2;
            font-weight: bold;
        }

        tbody {
            color: black;
        }

        .sort-btn {
            position: relative;
            /* 按钮的内边距 */
            border: none;
            /* 移除按钮的边框 */
            background-color: #cad354;
            /* 按钮的背景色 */
            color: #fff;
            /* 按钮的文本颜色 */
            cursor: pointer;
            /* 光标样式 */
        }

        .sort-btn::after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            /* 伪元素垂直居中 */
            transform: translateY(-50%);
            /* 伪元素上下居中 */
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 8px 8px 0 8px;
            /* 定义箭头的大小 */
            border-color: #fff transparent transparent transparent;
            /* 定义箭头的颜色 */
        }
    </style>
</head>

<body class="is-preload">

    <!-- Wrapper-->
    <div id="wrapper">

        <!-- Nav -->
        <nav id="nav">
            <a href="#" class="icon solid fa-user"><span>使用者</span></a>
            <a href="#work" class="icon solid fa-list"><span>書籍清單</span></a>
            <a href="#contact" class="icon solid fa-book"><span>閱讀心得</span></a>
            <a href="https://github.com/JarvisLu1029/ntnu_job" class="icon brands fa-github"
                target="_blank"><span>GitHub</span></a>
        </nav>

        <!-- Main -->
        <div id="main">

            <!-- User -->
            <article id="home" class="panel intro">
                <header>
                    <div>
                        <h1>使用者</h1>

                        <input id=book_user type="text" name="User" placeholder="User" required>
                        <a href="#work" class="jumplink pic">
                            <button class="my-btn" id=book_user_request type="submit">查詢</button>
                        </a>
                    </div>
                </header>
                <a href="#work" class="jumplink pic">
                    <span class="arrow icon solid fa-chevron-right"><span>See my work</span></span>
                    <img src="{% static 'images/stay_unique.jpg' %}" alt="" />
                </a>
            </article>

            <!-- Books -->
            <article id="work" class="panel">
                <section>
                    <div class="book-warning" id=book_user_message></div>
                    <!-- 新增書籍 -->
                    <h3>新增書籍</h3>
                    <form id="add-book-form">
                        <div class="row">
                            <div class="col-5 col-12-medium">
                                <input type="text" name="title" placeholder="書名" required>
                            </div>
                            <div class="col-3 col-12-medium">
                                <input type="text" name="author" placeholder="作者" required>
                            </div>
                            <div class="col-2 col-12-medium">
                                <input type="number" name="published_year" placeholder="出版年" maxlength="4" required>
                            </div>
                            <div>
                                <button class="my-btn" id=book_add type="submit">新增</button>
                            </div>
                            <div class="book-warning" id=book_add_message></div>
                        </div>
                    </form>
                    <!-- 查詢書籍 -->
                    <h3>查詢書籍</h3>
                    <form id="search-book-form">
                        <div class="row">
                            <div class="col-5 col-12-medium">
                                <input type="text" name="title" placeholder="書名關鍵字">
                            </div>
                            <div>
                                <input type="text" name="author" placeholder="完整的作者名">
                            </div>
                            <div>
                                <button class="my-btn" id=book_search_request type="submit">查詢</button>
                            </div>
                        </div>
                    </form>
                    <!-- 編輯書籍 -->
                    <h3>編輯書籍</h3>
                    <form id="edit-book-form">
                        <div class="row">
                            <div class="col-5 col-12-medium">
                                <input id=edit_old_book type="text" name="old_title" placeholder="原書名" required>
                            </div>
                        </div>
                        <h3>新的書籍資料</h3>
                        <div class="row">
                            <div class="col-5 col-12-medium">
                                <input type="text" name="new_title" placeholder="新書名">
                            </div>
                            <div class="col-3 col-12-medium">
                                <input type="text" name="new_author" placeholder="新作者">
                            </div>
                            <div class="col-2 col-12-medium">
                                <input type="number" name="new_published_year" placeholder="新出版年" maxlength="4">
                            </div>
                            <div>
                                <button class="my-btn" id=book_edit_request type="submit">確認修改</button>
                            </div>
                            <div class="book-warning" id=book_edit_message></div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-3 col-12-medium">
                            <button class="my-btn" id=book_user_orderby data-sort="asc" type="submit">作者與年份排序</button>
                        </div>
                        <div class="col-2 col-12-medium"><button class="my-btn" id="sortButtonAuthor">作者排序</button>
                        </div>
                        <div class="col-2 col-12-medium"><button class="my-btn" id="sortButton_year">年份排序</button></div>
                    </div>

                    <h3>書籍列表</h3>
                    <table id="book-table">
                        <thead>
                            <tr>
                                <th>書名</th>
                                <th>作者</th>
                                <th>出版年</th>
                                <th>閱讀心得</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="book-list">
                        </tbody>
                    </table>

                    <div id=debug>

                    </div>

                    <script>
                        
                        function selectBooks() {
                            if (!book_user.validity.valid) {
                                alert("請輸入使用者");
                                event.preventDefault(); // 防止提交表單
                            }
                            fetch(`/books/${book_user.value}`, {
                                method: "GET"
                            }).then(function (response) {
                                return response.json();
                            }).then(function (books) {
                                // 清空 tbody 底下既有元素，如 tr td 等
                                tbody.innerHTML = '';
                                document.querySelector('#book_user_message').innerHTML = '';
                                // 將回傳資料動態生成在網頁上
                                for (let i = 0; i < books.length; i++) {
                                    let book = books[i];
                                    if (book['note'] == null) {
                                        book['note'] = '無';
                                    };
                                    //輸出對應的 html tag
                                    let tr = document.createElement("tr");
                                    tr.setAttribute("id", "myTableRow");
                                    tr.innerHTML = `<td>${book['title']}</td>
																		<td>${book['author']}</td>
																		<td>${book['published_year']}</td>
																		<td>${book['note']}</td>
																		<td>
																		<button data-id="del_${book['title']}" class="delete-btn">刪除</button>
																		</td>`
                                    tbody.appendChild(tr);
                                }
                            })
                                .catch(error => {
                                    // display the error message on the webpage
                                    document.querySelector('#book_user_message').innerHTML = '該使用者尚未建立書籍，請新增第一本書籍';
                                    // 清空 tbody 底下既有元素，如 tr td 等
                                    tbody.innerHTML = '';
                                });

                            // 事件代理：透過父元素來監聽 click 事件
                            document.querySelector('tbody').addEventListener('click', function (event) {
                                const target = event.target;
                                // 刪除該 row 以及該資料庫 data
                                if (target.classList.contains('delete-btn')) {
                                    target.closest('tr').remove();
                                    const book_del_title = target.getAttribute('data-id');
                                    fetch(`/books/${book_user.value}/${book_del_title}`, {
                                        method: 'DELETE'
                                    })
                                }
                            });
                        }
                    </script>

                    <script>
                        const book_user = document.getElementById('book_user');
                        const book_user_message = document.getElementById('book_user_message');
                        const tbody = document.querySelector('table#book-table tbody');
                        const debug = document.getElementById('debug');

                        // 查詢使用者底下書籍的BTN
                        document.getElementById('book_user_request').addEventListener('click', (event) => {
                            selectBooks()
                        });

                        // 排序（升序或降序）
                        let sortOrder = "ascending"; // 或者 "descending"
                        // 綁定年份按鈕事件
                        const sortButtonYear = document.getElementById("sortButton_year");
                        sortButtonYear.addEventListener("click", function () {
                            // 获取表格行元素并转换为数组
                            const rows = Array.from(tbody.getElementsByTagName("tr"));

                            // 确定要根据哪一列排序（假设是第四列，即“published_year”）
                            const columnIndex = 2;
                            // 获取要排序的单元格，并转换为数组
                            const cells = rows.map(function (row) {
                                return row.getElementsByTagName("td")[columnIndex];
                            });

                            // 根据单元格中的值进行排序
                            cells.sort(function (a, b) {
                                return a.textContent.localeCompare(b.textContent);
                            });

                            if (sortOrder === "descending") {
                                cells.reverse();
                            }
                            // 將排序後的欄位重新添加至表格
                            cells.forEach(function (cell) {
                                const row = cell.parentNode;
                                row.parentNode.appendChild(row);
                            });
                            // 更改排序顺序
                            sortOrder = sortOrder === "ascending" ? "descending" : "ascending";
                        });

                        // 綁定作者按鈕事件
                        const sortButtonAuthor = document.getElementById("sortButtonAuthor");
                        sortButtonAuthor.addEventListener("click", function () {
                            // 获取表格行元素并转换为数组
                            const rows = Array.from(tbody.getElementsByTagName("tr"));

                            // 确定要根据哪一列排序（第三欄 => Author）
                            const columnIndex = 1;
                            // 获取要排序的单元格，并转换为数组
                            const cells = rows.map(function (row) {
                                return row.getElementsByTagName("td")[columnIndex];
                            });
                            // 根据单元格中的值进行排序
                            cells.sort(function (a, b) {
                                return a.textContent.localeCompare(b.textContent);
                            });
                            if (sortOrder === "descending") {
                                cells.reverse();
                            }
                            // 將排序後的欄位重新添加至表格
                            cells.forEach(function (cell) {
                                const row = cell.parentNode;
                                row.parentNode.appendChild(row);
                            });
                            // 更改排序顺序
                            sortOrder = sortOrder === "ascending" ? "descending" : "ascending";
                        });

                        // 查詢書籍與年份的排序
                        document.getElementById('book_user_orderby').addEventListener('click', (event) => {
                            event.preventDefault();
                            var sortBtn = document.getElementById("book_user_orderby").getAttribute("data-sort");

                            fetch(`/books/${book_user.value}/orderby/${sortBtn}`, {
                                method: "GET"
                            }).then(function (response) {
                                return response.json();
                            }).then(function (books) {
                                if (sortBtn === "asc") {
                                    document.getElementById("book_user_orderby").setAttribute("data-sort", "desc");
                                } else {
                                    document.getElementById("book_user_orderby").setAttribute("data-sort", "asc");
                                }
                                // 清空 tbody 底下既有元素，如 tr td 等
                                tbody.innerHTML = '';
                                // 將回傳資料動態生成在網頁上
                                for (let i = 0; i < books.length; i++) {
                                    let book = books[i];
                                    if (book['note'] == null) {
                                        book['note'] = '無';
                                    };
                                    //輸出對應的 html tag
                                    let tr = document.createElement("tr");
                                    tr.innerHTML = `<td>${book['title']}</td>
																		<td>${book['author']}</td>
																		<td>${book['published_year']}</td>
																		<td>${book['note']}</td>
																		<td>
																		<button data-id="del_${book['title']}" class="delete-btn">刪除</button>
																		</td>`
                                    tbody.appendChild(tr);

                                    // 事件代理：透過父元素來監聽 click 事件
                                    document.querySelector('tbody').addEventListener('click', function (event) {
                                        const target = event.target;
                                        // 刪除該 row 以及該資料庫 data
                                        if (target.classList.contains('delete-btn')) {
                                            target.closest('tr').remove();
                                            const book_del_title = target.getAttribute('data-id');
                                            fetch(`/books/${book_user.value}/${book_del_title}`, {
                                                method: 'DELETE'
                                            })
                                        }

                                    });
                                };
                            });
                        });

                        // 搜尋欄位的BTN
                        const search_book_form = document.getElementById('search-book-form');
                        search_book_form.addEventListener('submit', (event) => {
                            event.preventDefault();
                            const search_book_formData = new FormData(search_book_form);
                            const search_book_data = {
                                book_title: search_book_formData.get('title'),
                                author: search_book_formData.get('author'),
                            };

                            const query_string = new URLSearchParams(search_book_data).toString();
                            fetch(`/books/${book_user.value}/book_search?${query_string}`, {
                                method: 'GET',
                            })
                                .then(response => response.json())
                                .then(books => {
                                    // 清空 tbody 底下既有元素，如 tr td 等
                                    tbody.innerHTML = '';
                                    document.querySelector('#book_user_message').innerHTML = '';
                                    // 將回傳資料動態生成在網頁上
                                    for (let i = 0; i < books.length; i++) {
                                        let book = books[i];
                                        if (book['note'] == null) {
                                            book['note'] = '無';
                                        };
                                        //輸出對應的 html tag
                                        let tr = document.createElement("tr");
                                        tr.innerHTML = `<td>${book['title']}</td>
																			<td>${book['author']}</td>
																			<td>${book['published_year']}</td>
																			<td>${book['note']}</td>
																			<td>
																			<button data-id="del_${book['title']}" class="delete-btn">刪除</button>
																			</td>`
                                        tbody.appendChild(tr);
                                        search_book_form.reset()
                                    }
                                })
                                .catch(error => {
                                    document.querySelector('#book_user_message').innerHTML = '查無資料';
                                });
                        });

                        // 放新增書籍的回傳訊息
                        const book_add_message = document.getElementById('book_add_message');
                        // 新增書籍的BTN
                        const form = document.getElementById('add-book-form');
                        form.addEventListener('submit', (event) => {
                            event.preventDefault();

                            const formData = new FormData(form);
                            const bookData = {
                                title: formData.get('title'),
                                author: formData.get('author'),
                                published_year: formData.get('published_year')
                            };
                            const body = JSON.stringify(bookData);

                            fetch(`/books/${book_user.value}/add/`, {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: body
                            })
                                .then(response => {
                                    if (response.ok) {
                                        response.json().then(data => {
                                            book_add_message.innerHTML = data;
                                            form.reset();
                                            document.querySelector('#book_user_message').innerHTML = '';
                                        })
                                    } else {
                                        book_add_message.innerHTML = 'Error adding book.';
                                    }
                                    // 更新清單
                                    selectBooks()
                                })
                                .catch(error => {
                                    console.error('Error:', error);
                                    book_add_message.innerHTML = 'Error adding book.';
                                });
                        });

                        // 編輯書籍
                        const edit_book_form = document.getElementById('edit-book-form');
                        const edit_book_message = document.getElementById('book_edit_message');

                        edit_book_form.addEventListener('submit', (event) => {
                            const edit_old_book = document.getElementById('edit_old_book');
                            if (!book_user.validity.valid | !edit_old_book.validity.valid) {
                                alert("請輸入使用者");
                                event.preventDefault(); // 防止提交表單
                            }
                            event.preventDefault();
                            const editFormData = new FormData(edit_book_form);
                            const editNewData = {
                                title: editFormData.get('new_title'),
                                author: editFormData.get('new_author'),
                                published_year: editFormData.get('new_published_year')
                            };
                            const body = JSON.stringify(editNewData);

                            fetch(`/books/${book_user.value}/update_${edit_old_book.value}`, {
                                method: 'PUT',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: body
                            })
                                .then(function (response) {
                                    return response.json();
                                }).then(function (message) {
                                    edit_book_form.reset()
                                    edit_book_message.innerHTML = message;
                                    selectBooks()
                                })
                        });


                    </script>


                </section>
            </article>

            <!-- 書籍心得 -->
            <article id="contact" class="panel">
                <header>
                    <h2>閱讀心得</h2>
                </header>
                <form id="book-note-form" method="post">
                    <div>
                        <div class="row">
                            <div class="col-6 col-12-medium">
                                <input type="text" name="title" placeholder="書名" />
                            </div>
                            <div class="col-6 col-12-medium">
                                <button class="my-btn" id=book_note_delete>刪除心得</button>
                            </div>
                            <div class="col-12">
                                <textarea id="book_experience" name="book_experience" placeholder="在這邊寫下你的閱讀心得"
                                    rows="6"></textarea>
                                <a id="note_message" class="book-warning"></a>
                            </div>
                            <div class="col-12">
                                <button class="my-btn" id=book_note_request type="submit">儲存心得</button>
                            </div>

                        </div>
                    </div>
                </form>
            </article>

            <script>
                // 閱讀心得
                const bookNoteForm = document.getElementById('book-note-form');

                bookNoteForm.addEventListener('submit', (event) => {
                    event.preventDefault(); // 防止表單提交頁面重新載入

                    const bookExperience = document.getElementById('book_experience');
                    const noteFormTitle = document.querySelector('form#book-note-form input')

                    const noteFormData = new FormData(bookNoteForm);
                    const editNewData = {
                        title: noteFormData.get('title'),
                        note: noteFormData.get('book_experience')
                    };
                    const body = JSON.stringify(editNewData);
                    fetch(`/books/${book_user.value}/${noteFormTitle.value}/note`, {
                        method: 'PUT',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: body
                    }).then(function (response) {
                        return response.json()
                    }).then(function (message) {
                        bookNoteForm.reset()
                        document.getElementById('note_message').innerHTML = message;
                        selectBooks()
                    })
                });
                // 刪除心得
                document.querySelector('button#book_note_delete').addEventListener('click', function (event) {
                    event.preventDefault(); // 防止表單提交頁面重新載入
                    const noteFormTitle = document.querySelector('form#book-note-form input')

                    fetch(`/books/${book_user.value}/${noteFormTitle.value}/note`, {
                        method: 'DELETE',
                    })
                        .then(response => response.json())
                        .then(message => {
                            bookNoteForm.reset()
                            document.getElementById('note_message').innerHTML = message;
                            selectBooks()
                        })

                });
            </script>

        </div>

        <!-- Footer -->
        <div id="footer">
            <ul class="copyright">
                <li>&copy; Untitled.</li>
                <li>Design: <a href="#">BOOKS API</a></li>
            </ul>
        </div>

    </div>

    <!-- Scripts -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/browser.min.js' %}"></script>
    <script src="{% static 'js/breakpoints.min.js' %}"></script>
    <script src="{% static 'js/util.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>


</body>

</html>